/* || SITEWIDE */
*{
    /*border: 1px red solid;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
}
    /* || BODY*/
    body{
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: auto;
        width: 100%;
        min-width: 720px;

        background-image: url(20210914_193247.jpg);
        background-size: cover;
    }

        /* || HEADER AND FORM*/
        .contianer-header{
            grid-column: 2 / span 2;
            grid-row: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto
        }
            .contianer-heading{
                grid-column: 1 / span 2;
                text-align: center;
            }
                .contianer-heading h1{
                    color: white;
                    font-size: 60px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-style: italic;
                    font-weight: bold;
                    padding-top: 60px;
                    padding-bottom: 30px;
                }
            .container-form{
                grid-column: 1 / span 2;
                grid-row: 2;
                height: fit-content;
            }

                form{
                    display: grid;
                    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
                    grid-template-rows: auto auto auto ;
                    margin: auto;
                }
                    /* || INPUT SEARCH BAR*/
                    .container-input{
                        grid-column: 2 / span 1;
                        width: 100%;
                        float: left;
                    }

                        .container-input input{
                            width: 97%;
                            min-width: 300px;
                            height: 68px;
                            text-align: center;
                            border: none;
                            margin: auto;
                            border-radius: 15px;
                            color: white;
                            font-size: 30px;
                            font-weight: bold;
                            background-color: rgba(56, 56, 56, 0.747);

                        }
                        .container-input input:focus{
                            outline: none;
                            background-color: rgba(56, 56, 56, 0.9);
                        }
                        .container-input input:hover{
                            background-color: rgba(56, 56, 56, 0.9);
                        }

                    /* || COLOR SELECTION*/
                    .container-colors{
                        grid-column: 3 / span 1;
                        float: left;
                        width: 210px;
                    }
                        .container-color-labels{
                            float: left;
                            text-align: center;
                            display: flex;
                            height: fit-content;
                            margin: 2px;
                        }
                        /*Display checkboxes*/
                        .container-color-labels label input{
                            display: none;
                        }
                            #label-red{
                                width: 30px;
                                height: 30px;
                                background-color: red;
                                opacity: 0.5;
                                border-radius: 15px;                  
                            }
                            #label-orange{
                                width: 30px;
                                height: 30px;
                                background-color: orange;
                                opacity: 0.5;
                                border-radius: 15px;                           
                            }
                            #label-yellow{
                                width: 30px;
                                height: 30px;
                                background-color: yellow;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-green{
                                width: 30px;
                                height: 30px;
                                background-color: green;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-turquoise{
                                width: 30px;
                                height: 30px;
                                background-color: turquoise;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-blue{
                                width: 30px;
                                height: 30px;
                                background-color: blue;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-lilac{
                                width: 30px;
                                height: 30px;
                                background-color: purple;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-pink{
                                width: 30px;
                                height: 30px;
                                background-color: pink;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-white{
                                width: 30px;
                                height: 30px;
                                background-color: white;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-gray{
                                width: 30px;
                                height: 30px;
                                background-color: gray;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-black{
                                width: 30px;
                                height: 30px;
                                background-color: black;
                                opacity: 0.5;
                                border-radius: 15px;
                            }
                            #label-brown{
                                width: 30px;
                                height: 30px;
                                background-color: brown;
                                opacity: 0.5;
                                border-radius: 15px;
                                }
            /* || SUBMIT SEARCH BUTTON*/
            .container-submit-button{
                grid-column: 4 / span 1;
                float: right;
                margin-right: 100%;
            }
                #submit-butten{
                    float: left;
                    height: 68px;
                    width: 150px;
                    border-radius: 15px;
                    color: white;
                    font-size: 30px;
                    font-weight: bold;
                    background-color: rgba(56, 56, 56, 0.747);
                    border: none;
                }
                #submit-butten:hover{
                    background-color: rgba(56, 56, 56, 0.9);
                }
    /* || IMAGERY GALERY*/
    .container-imagery{
        grid-column: 2 / span 2;
        grid-row: 2;
    }
    /* || ORIENTATION NAV BAR*/
    .continer-orientation-buttons{
        grid-column: 2 / span 2;
        grid-row: 3;
    }
    /* || FOOTER*/
    footer{
        grid-column: 2 / span 2;
        grid-row: 4;
    }
/*|| MEDIA EVENTS*/
@media (max-width: 1000px){
    .container-input{
        grid-column: 2 / span 3;
        height: fit-content;
    }
    .container-input input{
        width: 100%;
    }
    .container-colors{
        grid-column: 2 / span 2;
        grid-row: 2;
        margin: 10px;
        max-width: none;
    }
    .container-submit-button{
        grid-column: 4 / span 1;
        grid-row: 2;
        margin: 10px;
    }
}
@media (max-width: 750px){
    form{
        margin: auto;
    }
    * label{
        width: 50px;
        height: 50px;
    }
    .container-input{
        grid-column: 1 / span 5;
        height: fit-content;
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .container-colors{
        grid-column: 1 / span 5;
        grid-row: 2;
        margin: 10px;
        max-width: none;
        width: fit-content;
        align-content: center;
        margin-left: 15%;
    }
    .container-submit-button{
        grid-column: 1 / span 5;
        grid-row: 3;
        width:100%;
        text-align: center;
        margin: auto;
    }
    #submit-butten{
        float: none;
    }

        
}
